/* Navbar.css */

.navbar {
  background-color: #397925;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}
